<!DOCTYPE html>
<html>
    <%- include('../partials/head', { title : 'Failed to Purchase' }) %>
    <body>
        <% include ../partials/body %>
       
        <h2>There was an issue processing your order, please try again.</h2>

<% include ../partials/footer %>
</body>
</html>
