    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %> - Contoso Travel - NodeJS</title>

        <link rel="stylesheet" href="/public/lib/bootstrap/css/bootstrap.min.css?v=4.1.3" />
        <link rel="stylesheet" href="/public/css/site.css"  />
    </head>